@charset "utf-8";
/* CSS Document */

* {padding: 0; margin: 0;}
p {margin-top: 1em; margin-bottom: 1em;}

/* See template.css for stock header/footer CSS. This file overrides some of the CSS contained there.*/

#skipNav a { position:absolute; left:0px; top:-5000px; width:1px; height:1px; overflow:hidden; }
#skipNav a:active, #skipNav a:focus { position:static; width:auto; height:auto; margin-bottom:3px; background:#FFFFFF; }

/* Template overrides */
#branding {background-image: url(//iii.library.unt.edu/screens/images/branding/zone-branding.png);}


/****************/
/* Silk Sprites */
/****************/
.ss_sprite{display:inline; overflow:hidden; height:18px; padding-left:18px !important; padding-bottom:0px; background-repeat:no-repeat; background-image:url(//unt-libraries.github.io/assets360/img/sprites.png);}
.ss_zoom{background-position:0 0;} 
.ui-widget .ss_sprite {padding:1px 0;}
a .ss_sprite {display:inline-block; width:0; overflow:visible;}
a .ss_sprite:hover {text-decoration:none !important;}

/*************/
/* Superfish */
/*************/
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {margin:0; padding:0; list-style:none;}
.sf-menu {line-height:1.0;}
.sf-menu ul {position:absolute; top:-999em; width:12em; /* left offset of submenus need to match (see below) */}
.sf-menu ul li {width:100%;}
.sf-menu li:hover {visibility:inherit; /* fixes IE7 'sticky bug' */}
.sf-menu li {float:left; position:relative;}
.sf-menu a {display:block; position:relative;}
.sf-menu li.sfHover {border-left:1px solid #7DC247; border-right:1px solid #7DC247; margin-left:-1px;}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {left:0; top:2.5em; /* match top ul list item height */	z-index:99;}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {top:-999em;}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {left:12em; /* match ul width */ top:0;}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {top:-999em;}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {left:12em; /* match ul width */ top:0;}
/*** DEMO SKIN ***/
.sf-menu {float:left;}
.sf-menu a {padding:.75em 1em .65em .5em; text-decoration:none;}
.sf-menu a.last {border-bottom:1px solid #EEE;}
.sf-menu a, .sf-menu a:visited , .catalogSubHead a, .catalogSubHead a:visited {/* visited pseudo selector so IE6 applies text colour*/ color:#014184;}
.sf-menu li {background:#FFF;}
.sf-menu li li {background:#FFF;}
.sf-menu li li a {border-left:1px solid #7DC247; border-right:1px solid #7DC247; border-top:1px solid #7DC247;}
.sf-menu li li.last-child a {border-bottom:1px solid #7DC247;}
.sf-menu li li li {background:#FFF;}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {background:#eee; outline:0;}
/*** arrows **/
.sf-menu a.sf-with-ul {min-width:1px; /* trigger IE7 hasLayout so spans position accurately */ }
.sf-sub-indicator {position:absolute; display:block; right:.75em; top:1.05em; /* IE6 only */ width:10px; height:10px; text-indent:-999em; overflow:hidden;}
a > .sf-sub-indicator {/* give all except IE6 the correct values */ top:.8em; background-position:0 -100px; /* use translucent arrow for modern browsers*/}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {background-position:-10px -100px; /* arrow hovers for modern browsers*/}
/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {background-position:-10px 0;}
.sf-menu ul a > .sf-sub-indicator {background-position:0 0;}
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator, .sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator {background-position:-10px 0; /* arrow hovers for modern browsers*/}
/*** shadows for all but IE6 ***/
.sf-shadow ul {background:url('//iii.library.unt.edu/screens/shadow.png') no-repeat bottom right; padding:0 8px 9px 0; -moz-border-radius-bottomleft:17px; -moz-border-radius-topright:17px; -webkit-border-top-right-radius:17px; -webkit-border-bottom-left-radius:17px;}
.sf-shadow ul.sf-shadow-off {background:transparent;}
ul.sf-menu li li{font-size:.8824em;}
/* END SUPERFISH */

#content ul, .findWhatSearch ul {margin: 5px 0 5px 40px;}
#content ul ul, .findWhatSearch ul ul {margin-left: 30px;}
#content li, .findWhatSearch  li {margin-top: 2px;}
a img {border:0;}
#content-container {width:100% !important; background-color:#fff;}
#content > * {padding: 0 10px;}
#content * {line-height: 1.35em;}
.topNavigation, #content {font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif; clear: both; margin-left: auto; margin-right: auto;}
#content * {font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif !important;}
.topNavigation {width: 940px;}
.topNavContainer {border-bottom: 1px solid #7DC247; width: 100%; float: left; background-color: white; -moz-box-shadow: 1px 3px 4px #aaa; -webkit-box-shadow: 1px 3px 4px #AAA; box-shadow: 1px 3px 4px #AAA; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#AAAAAA')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#AAAAAA');}
.topNavigation h2 {font-family: Arial,Helvetica,sans-serif; font-size: 1.85em; float: left; margin: 5px 30px 0 0;}
.topNavigation h2 a {text-decoration: none; font-weight: normal;}
#topNavigationLinks {font-size: 1.06em;}
#content {border-left: 1px solid #CCC; border-right: 1px solid #CCC; padding-bottom: 20px; max-width: 960px;}
.SS_CopyRightStatement, .SS_SkipNavigationLinks, .SS_EJPPreContentHorizontalRules , .SS_HorizontalRules, .SS_EJPPreCopyrightHorizontalRules , .SS_searchTitle , #JournalLinkTable caption {display: none !important;}
.SS_SearchToolsGroup {padding: 10px 10px 15px 10px !important; border-bottom: 1px solid #CCC; margin-bottom: 15px; background: url('//iii.library.unt.edu/screens/tile_search.jpg') repeat-x bottom left;}
.SS_ResultsNoteGroup {background-color: #E7FEEA; display: block; height: 1.5em; margin-bottom: 10px;}
.SS_LetterLinks {clear: both;}
#content input[type="submit"] {background-color: #F2F2F2; border: 1px solid #059033; padding: 3px 7px;}
#content a:link {color: #014184;}
#nonav {border-top: 1px solid #CCC;}
.SS_HoldingsList {margin-bottom: 10px; border-bottom: 1px solid #CCC; padding-bottom: 20px !important;}
.SS_CategorySelector {margin-top: 5px;}
.SS_CitationTable {font-size: 1.3em; font-weight: bold;}
.SS_CitationTable {width: 58% !important;}
table.CandyWrapper {width: 100% !important;}
.SS_ContentHeading {font-weight: normal;}
#JournalLinkTable * {font-size: 100% !important;}
#CitationResults {padding-top: 7px; width: 100%;}
#CitationResults h2 {margin: 0; padding-top: 15px; font-size: 1.3em; border-bottom: 1px solid #CCC;}
#CitationResults h3 {margin: 0; padding-top: 15px; font-size: 1.1em; font-weight: bold;}
#CitationResults h4 {border-top: 1px solid #ddd; padding: 10px 0 0 15px; margin-top: 10px; color: #444; font-style: italic;}
div.find-it {font-weight:bold;}
#CitationResults table.CustomLinkTable table {float: left !important; width: 220px; clear: none; border-right: 1px dotted #ddd; padding-left: 20px;}
#CitationResults .CustomLinkGroupLabel {font-weight:normal;}

.mainMenuContent {margin-left:592px; width:318px; margin-top:0; padding-top: 27px !important;}
.mainMenuContent .mainMenuContentRight {padding-left:30px; border-left:1px solid #CACACA; margin-bottom:4em;}
.mainMenuContent .mainMenuContentRight h2 {margin-bottom: 1em; font-size: 1.25em; border-bottom:1px solid #CACACA;}
.mainMenuContent .mainMenuContentRight h3 {font-size:1em; color:#333; margin-bottom:0; padding-bottom:0; font-family:"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif; font-style:italic; font-variant:normal;}
.mainMenuContent .mainMenuContentRight h3 a:link, .mainMenuContent .mainMenuContentRight h3 a:visited  {text-decoration:none; color:#059033 !important; border-bottom:1px solid #FFF;}
.mainMenuContent .mainMenuContentRight h3 a:hover {border-bottom:1px solid #059033; color:#000 !important;}
.mainMenuContent .mainMenuContentRight p a:link, .mainMenuContent .mainMenuContentRight p a:visited {text-decoration:none; border-bottom:none; color:#014184;}
.mainMenuContent .mainMenuContentRight p a:hover {border-bottom:none; text-decoration:underline;}
.linkElements {margin-left: 36px;}
.linkGroup .type_sprite {display: block; overflow: hidden; padding-bottom: 0px; background-image: url(//iii.library.unt.edu/screens/types-sprites.png); background-repeat: no-repeat; background-position: 0 0; width: 27px; height: 36px; float: left;}
.linkGroup p {margin-bottom: 1em; border-bottom: 1px solid #E2E2E2; line-height: 1.5em !important;}

/* IE 7 fixes*/

.ie7 .container, .ie8 .container {
	WIDTH: 780px
}
.ie7 .container, .ie8 .container {
	WIDTH: 1000px
}
.ie7 .col-sm-2, .ie8 .col-sm-2 {
	FLOAT: left
}
.ie7 .col-sm-4, .ie8 .col-sm-4 {
	FLOAT: left
}
.ie7 .col-sm-8, .ie8 .col-sm-8 {
	FLOAT: left
}
.ie7 .col-sm-12, .ie8 .col-sm-12 {
	FLOAT: left
}
.ie7 .col-sm-12, .ie8 .col-sm-12 {
	WIDTH: 100%
}
.ie7 .col-sm-8, .ie8 .col-sm-8 {
	WIDTH: 66.66%
}
.ie7 .col-sm-4, .ie8 .col-sm-4 {
	WIDTH: 33.33%
}
.ie7 .col-sm-2, .ie8 .col-sm-2 {
	WIDTH: 16.66%
}
.ie7 .col-md-3, .ie8 .col-md-3 {
	FLOAT: left
}
.ie7 .col-md-5, .ie8 .col-md-5 {
	FLOAT: left
}
.ie7 .col-md-7, .ie8 .col-md-7 {
	FLOAT: left
}
.ie7 .col-md-9, .ie8 .col-md-9 {
	FLOAT: left
}
.ie7 .col-md-9, .ie8 .col-md-9 {
	WIDTH: 75%
}
.ie7 .col-md-7, .ie8 .col-md-7 {
	WIDTH: 58.33%
}
.ie7 .col-md-5, .ie8 .col-md-5 {
	WIDTH: 41.66%
}
.ie7 .col-md-3, .ie8 .col-md-3 {
	WIDTH: 25%
}
.ie7 .col-md-push-1, .ie8 .col-md-push-1 {
	LEFT: 8.33%
}
.ie7 .col-md-offset-1, .ie8 .col-md-offset-1 {
	MARGIN-LEFT: 8.33%
}
.ie7 .navbar-right .dropdown-menu, .ie8 .navbar-right .dropdown-menu {
	RIGHT: 0px; LEFT: auto
}
.ie7 .navbar-header, .ie8 .navbar-header {
	FLOAT: left
}
.ie7 .navbar-collapse, .ie8 .navbar-collapse {
	WIDTH: auto; BORDER-TOP-WIDTH: 0px; box-shadow: none
}
.ie7 .collapse.navbar-collapse, .ie8 .collapse.navbar-collapse {
	OVERFLOW: visible !important; HEIGHT: auto !important; PADDING-BOTTOM: 0px; DISPLAY: block !important; VISIBILITY: visible !important
}
.ie7 .container > .navbar-header, .ie8 .container > .navbar-header {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
.ie7 .container > .navbar-collapse, .ie8 .container > .navbar-collapse {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
.ie7 .navbar-toggle, .ie8 .navbar-toggle {
	DISPLAY: none
}
.ie7 .navbar-nav, .ie8 .navbar-nav {
	FLOAT: left; MARGIN: 0px
}
.ie7 .navbar-nav > LI, .ie8 .navbar-nav > LI {
	FLOAT: left
}
.ie7 .navbar-nav > LI > A, .ie8 .navbar-nav > LI > A {
	PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
.ie7 .navbar-text, .ie8 .navbar-text {
	FLOAT: left; MARGIN-LEFT: 30px; MARGIN-RIGHT: 30px
}
.ie7 .navbar-left, .ie8 .navbar-left {
	FLOAT: left !important
}
.ie7 .navbar-right, .ie8 .navbar-right {
	FLOAT: right !important; MARGIN-RIGHT: -30px
}

.ie7 #site-name {width:60%;}
.ie7 #unt {width:20%; float:right;}
.ie7 #main-nav > .container {padding-right:20px;}
.ie7 #top-navigation {position:relative; z-index:1000;}
.ie7 #branding {position:relative; z-index:0;}
.ie7 #unt-primary-site-menu li.leaf a, .ie7 #unt-navbar a.dropdown-toggle {height:100%;}
.ie7 #main-footer .col-md-3 {width:20%;}
.ie7 #main-footer .col-md-5 {width:30%;}
.ie7 #main-footer h3 {font-size: 24px; font-weight:normal; color:white;}
@media (max-width: 767px) {
  .ie7 #main-footer .footer-col {width:80%;}
}
.ie7 .row {clear:both;}
.ie7 #government-logos .col-sm-2 {width:20%;}
.ie7 #government-logos p {width:40%; padding-left:0;}
.ie7 #required-links li {display:inline;}
@media (max-width: 767px) {
  .ie7 #required-links li {display:block;}
}